/* style.css 파일 내용 */

/* 하단 버튼 스타일 변경 예시 */
/* stBottom과 같은 클래스는 Streamlit 버전 또는 캐싱에 따라 변경될 수 있으므로,
   상위 div의 data-testid를 사용하는 것이 더 안정적입니다. */
div[data-testid="stBottom"] {
    background-color: #6f42c1;
}

div[data-testid="stBottomBlockContainer"] {
  padding: 0 !important;
}
/* block-container 스타일 변경 예시 */
.st-emotion-cache-7tauuy.ea3mdgi5 {
    max-width: 1000px;
    padding-top: 50px;
}

/* 다른 요소의 스타일 변경 예시 */
.stButton>button {
    background-color: #ff5722;
    color: white;
    border-radius: 5px;
}